<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Aplicação com Spring Boot </h1>
 <p>Qual foi o site utilizado para criacao do seu projeto com Spring Boot?</p>
 <p>https://start.spring.io/</p>
 
 <p>Quais dependencias foram utilizadas no seu projeto?</p>
 <p>Spring Boot DevTools,Spring Web e Thymeleaf</p>

 <p>Para que serve a anotacao @Controller?</p>
 <p>Sinaliza o que é uma classe do Spring MVC</p>

 <p>Para que serve a anotacaoo @RequestMapping?</p>
 <P>Para a implementação do URL</P>

 <p>Pesquise sobre as anotacoes @GetMapping e @PostMapping e explique o funcionamento delas</p> 
 <p>@GetMapping atua como um atalho para @RequestMapping (method = RequestMethod. GET). @PostMapping é uma maneira mais simples de implementar URL handler da anotação  </p>

</body>
</html>